
 <!-- <body style="background-image:url('../../assets/login.jpg');background-repeat: no-repeat;
 background-attachment: fixed;background-size: cover;">  -->
    <body>
      <div class="div1">
          <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="collapse navbar-collapse navIcons">
              <ul class="navbar-nav mx-auto">
                <li style="float:left">
                  <a class="active" routerLink="/admin">
                    <h2>Admin</h2>
                  </a>
                </li>
                <!-- &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                &nbsp; &nbsp; &nbsp; &nbsp; -->
                <li class="navbar-item">
                  <a class="nav-link" routerLink="/trainlist">
                    <h3>Train List</h3>
                  </a>
                </li>
                <!-- &nbsp; &nbsp; &nbsp; &nbsp; -->
                <li class="navbar-item">
                  <a class="nav-link" routerLink="/createTrain">
                    <h3>Add Train</h3>
                  </a>
                </li>
                <!-- &nbsp; &nbsp; &nbsp; &nbsp; -->
                <li class="navbar-item">
                  <a class="nav-link" routerLink="/deleteTrain">
                    <h3>Delete Train</h3>
                  </a>
                </li>
                <!-- &nbsp; &nbsp; &nbsp; &nbsp; -->
                <li class="navbar-item">
                  <a class="nav-link" routerLink="/contactlist">
                    <h3>Contact List</h3>
                  </a>
                </li>
                <!-- &nbsp; &nbsp; &nbsp; &nbsp; -->
                <li class="navbar-item">
                  <a class="nav-link" routerLink="/add-contact">
                    <h3>Add Contact</h3>
                  </a>
                </li>
                <!-- &nbsp; &nbsp; &nbsp; &nbsp; -->
                <li class="navbar-item">
                  <a class="nav-link" routerLink="/delete-contact">
                    <h3>Delete Contact</h3>
                  </a>
                </li>
                <!-- &nbsp; &nbsp; &nbsp; &nbsp; -->
                <li class="navbar-item">
                  <a class="nav-link" routerLink="/adminnavigation">
                    <h3>Admin Home</h3>
                  </a>
                </li>
                <li class="navbar-item">
                  <a class="nav-link" routerLink="/">
                    <h3>User Login</h3>
                  </a>
                </li>
                
              </ul>
            </div>
          </nav>
        </div>  
      </body>
          