
<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Train Home Page</title>
<style>
</style>
</head>
<body>
	<header>
		<h1 class="hd">Bharat Railway Ticket Booking </h1>
		<div class="home">
			<p class="menu">
				<a href="home">Home</a>
			</p>
		</div>
		<div class="home">
			<p class="menu">
				<a href="booking">Train Booking</a>
			</p>
		</div>
		<div class="home">
			<p class="menu">
				<a href="trainlist">Show All Trains</a>
			</p>
		</div>
		<div class="home">
			<p class="menu">
				<a href="contactlist">Contact Us</a>
			</p>
		</div> 
		<div class="home">
			<p class="menu">
				<a href="admin">Admin</a>
			</p>
		</div>
		<div class="home">
			<p class="menu">
				<a href="http://localhost:4200">Logout</a>
			</p>
		</div>
	</header>


</body>
</html>